ZENLESS_UID=your_uid_here
HOYOLAB_UID=your_uid_here
DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_USER_ID=your_user_id_here
DISCORD_CLIENT_ID=your_app_client_id_here
HOYOLAB_COOKIE=ltoken_v2=cookie here; ltuid_v2=id here; account_id_v2=id here; cookie_token_v2=cookie here
